.container {
  width: 100%;
  margin-bottom: 1rem;
}
.requiredText {
  display: inline-block;
  padding-left: 0.3rem;
  color: #3b9288;
}
.list {
  background: #fff;
  outline: none;
  border: 1px solid #3b9288;
  height: 34px;
  margin: 0;
  padding: 0;
  color: #184d47;
  font-size: 0.8rem;
  width: 100%;
}
.errorContainer {
  position: relative;
  /* width: fit-content; */
}

.errorImg {
  position: absolute;
  top: 4px;
  right: 16px;
  fill: red;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .textboxErrorContainer {
    display: inline-block;
  }
  .container {
    margin-right: 1rem;
    width: 200px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 2048px) {
  html {
    font-size: 20px;
  }
}
