.container {
  margin: auto;
  width: 92%;
}
.billingOrdercontainer {
  color: #184d47;
  display: flex;
  flex-direction: column;
}
.orderSummary {
  display: flex;
  flex-direction: column;
}
.order {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 2rem;
  grid-template-rows: 1fr;
  padding-bottom: 0.5rem;
  color: #3b9288;
}
.orderAmount {
  justify-self: center;
}
.orderProductName {
  padding-left: 0.5rem;
}
.orderTotal {
  justify-self: right;
  padding-right: 1rem;
}
.totalFlex {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #184d47;
}
.totalText,
.totalAmount {
  padding-right: 1rem;
}
.editButton {
  text-align: end;
}
.placeOrderButton {
  text-align: center;
  margin-top: 1rem;
}
.checkbox {
  background-color: #fff;
  border: 1px solid #3b9288;
  padding: 10px;
  display: inline-block;
  -webkit-appearance: none;
  position: relative;
  width: 24px;
  margin-right: 0.5rem;
  margin-left: 0;
}
.checkbox:checked {
  color: #184d47;
}
.checkbox:checked:after {
  content: 'X';
  font-size: 16px;
  position: absolute;
  top: 2px;
  left: 6px;
  color: #184d47;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  position: relative;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .billingOrdercontainer {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .placeOrderButton {
    text-align: left;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 2048px) {
  html {
    font-size: 20px;
  }
  .container {
    margin: auto;
    max-width: 60%;
  }
}
