.shoppingBagContainer {
  width: 100%;
  text-align: center;
}
.shoppingBag {
  display: grid;
  grid-template-columns: 0.25fr 1fr 1fr 0.5fr 0.5fr;
  align-items: center;
  padding-right: 1rem; /*fixed this*/
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.5px solid #3b9288;
}

.linkSvgImg {
  position: relative;
  top: 3px;
}
.svgImg {
  height: 20px;
  width: 20px;
}
.svgAction {
  fill: #3b9288;
}
.svgAction:hover {
  fill: #184d47;
}
.imgPlant {
  max-width: 60%;
  height: auto;
}
.inputItemCount {
  width: 24px;
}
.itemCounterFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.textLarge {
  font-size: 1.5rem;
  color: #184d47;
}
.textMedium {
  font-size: 1rem;
  color: #184d47;
}
.textSmall {
  font-size: 0.8rem;
  color: #184d47;
}
.amount {
  justify-self: end;
}
.imgPlantGradient {
  background: linear-gradient(#fff, #f2f2f2);
}
.totalContainer {
  display: flex;
  justify-content: flex-end;
}
.totalText,
.totalPrice {
  padding-right: 1rem;
}
/* shopping cart */

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .shoppingBag {
    padding-right: 0;
    margin: auto;
    max-width: 70%;
  }
  .svgImg {
    height: 24px;
    width: 24px;
  }
  .totalContainer {
    max-width: 70%;
    margin: auto;
    justify-content: flex-end;
  }
  .totalPrice {
    padding-right: 0;
  }
}
/* shopping cart */

@media (min-width: 1024px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 2048px) {
  html {
    font-size: 20px;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
