::placeholder {
  color: #3b9288;
  padding-left: 0.2rem;
}
.navActionSearch {
  position: relative;
  width: 100%;
}
.navActionSearchImg {
  position: absolute;
  right: 4px;
  top: 8px;
}
.input {
  /* border: 1px #3b9288 solid;
  display: block;
  width: 100%;
  height: 34px;
  color: #184d47;
  padding-left: 0.2rem;
  font-size: 0.8rem; */
  text-transform: lowercase;
}
.input:focus {
  border: 1px #184d47 solid;
}
.svgImg {
  height: 20px;
  width: 20px;
}
/* .svgAction {
  fill: #3b9288;
}
.svgAction:hover {
  fill: #184d47;
} */

.suggestion {
  position: absolute;
  border-left: 1px solid #184d47;
  border-right: 1px solid #184d47;
  border-bottom: 1px solid #184d47;
  background: #fff;
  box-shadow: 0px 0px 1px #000;
  z-index: -1;
  left: 0px;
  right: 0px;
  overflow: hidden;
}
.suggestionText {
  color: #3b9288;
  font-size: 0.8rem;
  margin: 0;
  padding: 0.3rem;
}
.suggestionText:hover,
.suggestionActive {
  color: #184d47;
  cursor: pointer;
  background: #f2f2f2;
}
.hide {
  visibility: hidden;
}
.show {
  visibility: visible;
}

.hiddenDiv {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
@media (min-width: 768px) {
  .navActionSearchImg {
    right: 4px;
    top: 5px;
  }
  .navActionSearch {
    width: unset;
  }
  .input {
    position: unset;
    width: 86px;
  }
  /* .navActionSearch:hover > .inputSearch {
    width: 330px;
    transition: 0.5s;
  } */
  .active > .input {
    width: 330px;
    transition: 0.3s;
  }
  .svgImg {
    height: 24px;
    width: 24px;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 2048px) {
  html {
    font-size: 20px;
  }
}
