.container {
  padding: 1rem 1rem 1rem 1rem;
}
.paragraphLeftPadding {
  padding-left: 1rem;
}
.link {
  color: #3b9288;
}
.active,
.link:hover {
  color: #184d47;
}

.textLarge {
  font-size: 1.5rem;
  color: #184d47;
}
.textMedium {
  font-size: 1rem;
  color: #184d47;
}
.textSmall {
  font-size: 0.8rem;
  color: #184d47;
}
.textSmaller {
  font-size: 0.6rem;
  color: #184d47;
}

.linkButton {
  text-transform: none;
  padding: 0.5rem 2rem;
  background: #57b68a;
  text-align: center;
  font-size: 0.8rem;
  color: white;
  box-shadow: 0px 0px 1px #000;
}
.linkButton:active {
  position: relative;
  top: 1px;
}
.button {
  text-decoration: none;
  border: none;
  background: #57b68a;
  font-size: 0.8rem;
  color: white;
  outline: 0;
  cursor: pointer;
  font-size: 0.8rem;
  padding: 0.5rem 2rem;
  box-shadow: 0px 0px 1px #000;
}
.button:hover {
  color: #184d47;
}
.button:active {
  position: relative;
  top: 1px;
}
.input {
  border: 1px #3b9288 solid;
  display: block;
  width: 100%;
  height: 34px;
  color: #184d47;
  padding-left: 0.2rem;
  font-size: 0.8rem;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .input {
    border: 1px #3b9288 solid;
    display: block;
    width: 350px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 2048px) {
  html {
    font-size: 20px;
  }
}
